# 현재 설치된 패키지 목록 (자동 생성됨)
torch===2.6.0
torchvision===0.21.0
torchaudio===2.6.0
pytorch-lightning===2.5.0.post0
tensorrt===10.9.0.34
onnx===1.17.0
onnxruntime-gpu===1.21.0
pycuda===2025.1
numpy===2.2.3
timm===1.0.15
huggingface_hub==0.29.3
tqdm===4.67.1
pandas

# OpenAI CLIP 설치 (GitHub에서 직접 가져옴)
git+https://github.com/openai/CLIP.git
